.profile-daily {
	border-radius: 5px;
	background: #fbfbfb;
	box-shadow: 0px 2px 4px 0px #00000005;
	grid-row: 1 / span 2;
	grid-column: 1 / span 3;
	position: relative;
}
.profile-daily__header {
	position: absolute;
	left: 32px;
	top: 24px;
	font-size: 15px;
	line-height: 24px;
  color: #20253A;
  font-weight: 500;
}
