.profile-average {
	grid-row: 3 / span 2;
	grid-column: 1;
	border-radius: 5px;
	color: #ffffff;
	background: #ff0000;
  display:flex;
  flex-flow: column;
	box-shadow: 0px 2px 4px 0px #00000005;
}

.profile-average__header {
	font-size: 15px;
	line-height: 24px;
	margin: 29px 34px;
}
.profile-average__chart {
	flex: 1;
}
