@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
}
html,
body,
#root,
.app {
	min-height: 100%;
}
.app {
	width: 100%;
	display: flex;
	flex-direction: column;
}
